<div class="profile">
    <div class="profile-image">
        {% if profile.pic %}
            <img src="{{ url_for('static',filename="upload/"+profile.pic)}}">
        {% else %}
            <img src="{{ url_for('static',filename="upload/default-profile.jpg") }}">
        {% endif %}
    </div>
    <div class="profile">
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        <p><strong>Profile Created On:</strong> {{ profile.created }}</p>
        <p><strong>Username:</strong> {{ profile.username }}</p>
        <p><strong>UserID:</strong> {{ profile.id }}</p>
        <p><strong>Gender:</strong> {{ profile.gender }}</p>
        <p><strong>Age:</strong> {{ profile.age }}</p>
        <p><em>{{ profile.bio }}</em></p>
        
    </div>
    <div>
       <form action="{{ url_for('userprofilejson',userid=profile.id) }}" method="get" enctype="application/json">
            <button class="btn btn-sm btn-info submit-btn" type="submit">{{profile.first_name}}</button>
        </form>
        <hr/>
    </div><br><br>
   

</div>